modules = ["nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44084743
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node database/init.mjs && node index.js"
